/editor/src/EndangeredEd/.vs/EndangeredEd/v15/.suo
/editor/src/EndangeredEd/.vs
/editor/src/EndangeredEd/*.user
/editor/src/EndangeredEd/bin
/editor/src/EndangeredEd/obj
/editor/src/EndangeredEd/packages
